<div id="<%= dom_id profile %>">
  <p>
    <strong>Full name:</strong>
    <%= profile.full_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= profile.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= profile.id_number %>
  </p>

  <p>
    <strong>Npwp number:</strong>
    <%= profile.npwp_number %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= profile.deposit %>
  </p>

</div>
