<%= form_with(model: withdraw) do |form| %>
  <% if withdraw.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(withdraw.errors.count, "error") %> prohibited this withdraw from being saved:</h2>

      <ul>
        <% withdraw.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name_bank, style: "display: block" %>
    <%= form.text_field :name_bank %>
  </div>

  <div>
    <%= form.label :account_number, style: "display: block" %>
    <%= form.number_field :account_number %>
  </div>

  <div>
    <%= form.label :cash_balance, style: "display: block" %>
    <%= form.number_field :cash_balance %>
  </div>

  <div>
    <%= form.label :ammount, style: "display: block" %>
    <%= form.number_field :ammount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
