<div id="<%= dom_id withdraw %>">
  <p>
    <strong>Name bank:</strong>
    <%= withdraw.name_bank %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= withdraw.account_number %>
  </p>

  <p>
    <strong>Cash balance:</strong>
    <%= withdraw.cash_balance %>
  </p>

  <p>
    <strong>Ammount:</strong>
    <%= withdraw.ammount %>
  </p>

</div>
