<div id="<%= dom_id deposit %>">
  <p>
    <strong>Name bank:</strong>
    <%= deposit.name_bank %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= deposit.unit_price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= deposit.quantity %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= deposit.total %>
  </p>

</div>
