<div id="<%= dom_id transfer %>">
  <p>
    <strong>Network:</strong>
    <%= transfer.network %>
  </p>

  <p>
    <strong>Address wallet:</strong>
    <%= transfer.address_wallet %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transfer.date %>
  </p>

  <p>
    <strong>Tx hash:</strong>
    <%= transfer.tx_hash %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= transfer.address %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transfer.quantity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transfer.status %>
  </p>

</div>
