<div id="<%= dom_id sell %>">
  <p>
    <strong>Sell:</strong>
    <%= sell.sell %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= sell.summary %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sell.date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sell.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sell.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sell.status %>
  </p>

</div>
